#navbarNav{
  font-size: 1.6rem;
  font-family: kepler-std-semicondensed-dis, serif;
font-weight: 700;
font-style: normal;
      
      
    }
.heading{
    background-image: url(https://i.pinimg.com/564x/7a/3d/a5/7a3da56caa463f7c4870ad8cb1da03a4.jpg);
   width: 100%;
   height: 40rem;
   background-repeat: repeat-x;
/* opacity: .9; */
animation: coder .8s infinite ease-in-out;
}
@keyframes coder{
    from{
        background-position: 0 0%;
    }
    to{
        background-position: 0 50%;
    }
}
nav{
      opacity: 1;
}
.front{

    text-transform: uppercase;
    color: white;
    text-align: center; 
     position:relative; 
    /* left: 30%; */
    top: 10rem;
     font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 2.5rem;
z-index: 1;
text-shadow: 0px 4px rgba(255, 255, 255, 0.76);
   padding-bottom: 3%;                           
}
.progress{
     position:relative;
       top: 10rem;
      }
.Icon{
    
   text-align: center;
}       
.firstP-heading{
    letter-spacing: 3px;
  background-color: black;
    padding-top: 1%;
    color: white;
    font-size: 50px;
    text-shadow: 0px 2px rgba(128, 128, 128, 0.603);
}
.firstP{
    font-family: kepler-std-semicondensed-dis, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #EDEDED;
}
.text{
   text-align: left;
      /* font-size: 2rem; */
}
.text , .Icon{

font-family: adobe-garamond-pro, serif;
font-weight: 700;
font-style: normal;
font-size: 1.3rem;
    padding-top: 3%;
    padding-bottom: 3%;
    color: black;
}
.resource{

    color: black;
font-weight: 700;
    padding-top: 6%;
        text-decoration: underline;
}
.resource-link,.resource-link:visited{
    text-decoration: none;
    color: red;
}
.resource-link:hover,.resource-link:active{
color: rgb(151, 4, 4);
}
.content{
    color: #444444;
}
hr{
    border: 1px solid red;
}
.img:hover{
   animation: spin 1s ease-in-out infinite;
}
@keyframes spin{
    20% { transform: rotate(15deg); } 
            40% { transform: rotate(-10deg); } 
            60% { transform: rotate(5deg); } 
            80% { transform: rotate(-5deg); } 
            100% { transform: rotate(0deg); } 
       
    
}
.carousel-item>img{
    width: 10%;
}
.pic1{
    background-image: url(https://i.pinimg.com/564x/98/88/77/9888773369d4cf1db64a2b55ef9acf36.jpg);
}


.backend .content .backend-data:hover img {
filter: invert(1);
}
.backend .content .backend-data h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    transition: .5s;
    color: rgb(196, 11, 11);
    font-family: sans-serif;
}


.backend .content .backend-data p{
  text-align: left;
    font-size: small;
    margin: 0%;
    transition: .5s;
    font-weight: 500;
    color: rgb(46, 44, 44);
}
.backend .content .backend-data:hover p{
    color: white;
}

.backend .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.backend .content .backend-data{
    padding: 40px 20px;
    max-width: 350px;
    margin: 20px;
    transition: .5s;
    text-align: center;
    background-color: rgba(155, 151, 151, 0.842);
    border-radius: 10px;
    color: black;
   height:25rem;
    
}
.backend .content .backend-data:hover{
    background-color: black;
}
.backend .content .backend-data img{
    /* max-width: 100px; */
     height: 5rem; 
    transition: .5s;
}
.arrow{
    color: white;
    position: relative;
    top: 20rem;
    animation: arrow 1s reverse infinite ;
}
@keyframes arrow{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(2rem);
    }
}
.profile{
    background-color: #171717;
    color: white;
}
.profile img{
    padding: 2%;
    width: 24%;
    border-radius:50% ;
}

.about{
    font-size: medium;
    color: rgb(148, 143, 143);
}
.social{
    color: grey;
    padding-top: 2%;
}
.icons{
    padding: 1%;
    cursor: pointer;
    font-size: 1.2rem;
}
.profile a:active ,.profile a {
color: grey;
}
.profile a:hover{
    color: red;
}
.profile .container-fluid{
    color: #171717;
    background-color: white;
    padding:5% 3% 0%;
}
.skills img{
width: 200px;
border: #444444 1px solid;
margin: 7%;
}
.skills img:hover{
    transform: scale(1.3);
}
.skills .row{
font-size: 1.5rem;
font-weight: 600;
padding-bottom: 3%;
}
.achievements .row {
    opacity: 1;
    padding-top: 4%;
}
.achievements .row h3{
    font-weight: 700;
    
}
.achievements .row span{
    color: #444444;
}
.skills h1 ,.achievements h1{
    font-size: 3rem;
    text-decoration: underline;
}
/* .achievements{
    padding-bottom: 4%;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size:30% ;
    background-image: url(https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/feed/feednavigator.com/article/2021/01/26/china-back-on-top-in-global-feed-production-ranking/12132566-1-eng-GB/China-back-on-top-in-global-feed-production-ranking_wrbm_large.jpg);
} */